nginx-svc/.helmignore
nginx-svc/Chart.yaml
nginx-svc/values.yaml
nginx-svc/templates/_helpers.tpl
nginx-svc/templates/NOTES.txt
nginx-svc/templates/regsecret.yaml
nginx-svc/templates/serviceaccount.yaml
nginx-svc/templates/tests/deployment.yaml
nginx-svc/templates/tests/ingress.yaml
nginx-svc/templates/tests/service.yaml
nginx-svc/templates/nginx-svc/deployment.yaml
nginx-svc/templates/nginx-svc/ingress.yaml
nginx-svc/templates/nginx-svc/service.yaml
nginx-svc/templates/nginx-ssl-svc/deployment.yaml
nginx-svc/templates/nginx-ssl-svc/secrets.yaml
nginx-svc/templates/nginx-ssl-svc/service.yaml
